body{
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    justify-content: center;
    background: url(https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2074&q=80);
    background-size: cover;
    overflow: hidden;
}
h1{
   text-transform: uppercase;
   letter-spacing:2px;
   font-size:20px;
   text-align: center;
   color:white;
}
.clock{
    display: flex;
}

.clock div {
    margin:5px;
    position:relative;
}

.clock span{
    width:100px;
    height:80px;
    background:rgb(39, 51, 63);
    opacity: 0.8;
    color:white;
    font-size:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock .text{
    height:30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgb(102, 81, 81);
    opacity: 0.8;
}

.clock #AMPM{
    bottom:0;
    position: absolute;
    height:30px;
    font-size: 10px;
    background: rgb(60, 29, 29);
}
